<div class="headline">
	<h1>{{pageTitle}}</h1>
</div>
<div class="container">

	<div class="card" *ngFor="let doc of documents">
		<img class="card-img-top" src="{{ doc.image_url }}" alt="Card image cap" width="300">

		<div class="card-block">
			<h4 class="card-title">{{ doc.title }}</h4>

			<p class="card-text"><small class="text-muted">last updated: {{ doc.updated_at | date }}</small></p>

			<p class="card-text">{{ doc.description }}</p>

			<div>
				<a class="btn btn-lg btn-primary" href="{{ doc.file_url }}">download</a>
			</div>

			

			<p></p>

		</div>
	</div>
</div>